.examples {
  @media screen and (max-width: $desktop - 1) {
    display: none;
  }
}

.examples-list {
  @include flexbox;
  margin: -15px;
}

.examples-list__item {
  position: relative;
  margin: 15px;
  flex-basis: calc((100% - 6 * 15px) / 3);
}

.examples-list__thumb {
  position: absolute;
  left: 0;
  bottom: 0;
  @include flexbox(center, center);
  width: 100%;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.examples-list__text {
  margin: 0;
  @include font(14px, 1.14, 700);
  text-align: center;
  text-transform: uppercase;

  color: $main-bg-color;
}
